.search-result {
  width: 1300px;
  min-height: 100px;
  margin: 100px auto 20px;
}
.search-result__wrapper {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: space-around;
  width: 100%;
}

.search-result__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 5px;
  background-color: antiquewhite;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.search-result__book > img {
  display: block;
  object-fit: contain;
  height: 150px;
}

.search-result__book-info {
  background: linear-gradient(to bottom, rgb(48, 236, 236), #fff, rgb(48, 236, 236));
  padding: 20px 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 250px;
}

.search-result__book-info > h1 {
  font-size: 16px;
  font-weight: bold;
}

.search-result__book-info > h2,
.search-result__book-info > p {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
