.headerBottom {
  position: relative;
}

.headerBottom__wrap {
  position: relative;
}

.headerBottom__wrap .iconWrapLeft,
.headerBottom__wrap .iconWrapRight {
  position: absolute;
  line-height: 371px;
  padding: 20px;
}

.headerBottom__wrap .iconWrapRight {
  top: 0;
  right: 0;
}

.headerBottom__wrap i {
  width: 36px;
  height: 36px;
  background-color: #fff;
  text-align: center;
  line-height: 36px;
  border-radius: 20px;
}

.headerBottom__slideWrap {
  width: 100%;
  overflow-x: hidden;
}

.headerBottom__wrap .headerBottom__slide {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: ease 0.6s;
  z-index: -99;
}

.headerBottom__wrap .headerBottom__slide img {
  object-fit: fill;
  width: 1535px;
}

.headerBottom__buttonWrap {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -49px;
}

.headerBottom__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:fit-content;
  margin: 0 auto;
  border: 4px solid #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.headerBottom__button img {
  object-fit: contain;
  height: 86px;
  margin: 0 4px;
}