.container-PMS__wrap {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(15, 14, 14, 0.5);
  z-index: 999;
}

.container-PMS__wrap-update {
  display: none;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(15, 14, 14, 0.5);
  z-index: 999;
}

.container__PMS {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 787px;
  height: 642px;
  border-radius: 7px;
  box-shadow: 0px -0.75px 15px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 50px 50px 0px 50px;
  margin: 0 auto;
  background-color: #fff;
}
/*LAP PHIEU MUON SACH*/
.container__PMS .container__header {
  font-weight: 900;
  font-size: 32px;
  margin: 0px;
  text-align: center;
  font-family: Roboto;
}
/*form section*/
.container__PMS .container__form-section {
  margin: 30px 0px;
}
.container__PMS .form-section__element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container__PMS .form-section__element > i {
  font-size: 25px;
  padding: 6px 0px;
  margin-right: 5px;
}

.container__PMS .form-section__element > label {
  box-sizing: border-box;
  font-weight: normal;
  font-size: 15px;
  width: 210px;
  height: 36px;
  padding: 10px 0px;
}
/*style input section*/
.container__PMS .form-section__element input {
  margin-top: 10px;
  box-sizing: border-box;
  height: 30px;
  box-shadow: inset 0px 0px 1 .2px rgba(0, 0, 0, 0.container__PMS .35);
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  font-family: Segoe UI;
}

.container__PMS .form-section__element input {
  border: 1px solid #348d7c;
}

.container__PMS .form-section__element input[type="text"] {
  width: 150px;
  font-style: normal;
  font-weight: 350;
  font-size: 10px;
  padding: 0px 20px;
}
.container__PMS .form-section__element input[type="number"] {
  width: 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  padding: 0px 5px 0px 15px;
}
.container__PMS .element__number-wrapper {
  position: relative;
  bottom: 5px;
  margin-right: 2px;
}
.container__PMS .element__number-wrapper:after,
.container__PMS .element__number-wrapper:before {
  text-align: center;
  position: absolute;
  right: 0px;
  width: 25px;
  height: 15px;
  font-size: 12px;
  pointer-events: none;
  background: #348d7c;
}
.container__PMS .element__number-wrapper:after {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "\25B2";
  top: 10px;
  padding-top: 1px;
}
.container__PMS .element__number-wrapper:before {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  content: "\25BC";
  bottom: 0px;
  padding-bottom: 1px;
}
.container__PMS .element__button-wrapper {
  position: relative;
  bottom: 15px;
}
/*table*/
.container__PMS .container__table-PMS {
  align-self: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  overflow: auto;
  max-height: 300px;
}

.container__PMS .table__book-PMS {
  border-collapse: collapse;
  border-bottom: 1px solid #c4c4c4;
  font-size: 14px;
  width: 350px;
  text-align: center;
}

td {
  border: 1px solid rgb(190, 190, 190);
  padding-left: 10px;
  border-left: none;
  border-right: none;
  max-width: 90px;
  text-align: center;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
}

.container__PMS .table__book-id {
  color: #19af8c;
}
.container__PMS .table__book-name {
  font-weight: bold;
}

.container__PMS .table__button-wrapper button {
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  border-radius: 7px;
  padding: 5px 12px;
  border-style: none;
  margin: 3px;
  cursor: pointer;
}
/*button*/
.container__PMS .container__button-wrapper {
  display: flex;
  justify-content: center;
}
.container__PMS .container__button-wrapper button {
  font-weight: 900;
  font-size: 17px;
  color: #ffffff;
  border-radius: 7px;
  padding: 8px 60px;
  border-style: none;
  margin: 20px;
  cursor: pointer;
}
.container__PMS .element__button-wrapper button {
  font-weight: 700;
  font-size: 10px;
  color: #ffffff;
  border-radius: 7px;
  padding: 10px 12px;
  border-style: none;
  margin: 20px;
  cursor: pointer;
}
.container__PMS .button--submit {
  background: linear-gradient(180deg, #25bfa2 0%, #348d7c 100%);
}
.container__PMS .button--ignore {
  background: linear-gradient(180deg, #bf2525 0%, #8d3434 100%);
}

/*note*/
.container__PMS .container__note-wrapper p {
  font-size: 14px;
  font-style: italic;
  color: #bf2525;
  text-align: center;
  margin: 0px;
}