/*container*/
.users-create-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    width: 100%;
    height: 1391px;
    position: fixed;
    top: 0;
    align-items: center;
    left: 0;
    display: none;
    padding-top: 100px;
}

/*LAP THE DOC GIA*/
.container__create-reader{
    background-color: white;
    width: 700px;
    height: 570px;
    border-radius: 7px;
    box-shadow: 0px -0.75px 15px rgba(0,0,0,0.25);
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px 50px 0px 50px;
}

.create-reader__header{
    font-weight: 900;
    font-size: 32px;
    margin: 0px;
    text-align: center;
}
/*form section*/
.create-reader__form{
    margin: 30px 0px;
    display: grid;
    width: 580px;
    grid-template-columns: auto auto;
    grid-gap: 40px 20px;
    
}
.form__element{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.form__element > img{
    width: 25px;
    height: 25px;
    padding: 6px 0px;
}
.form__element > label{
    box-sizing: border-box;
    font-weight: normal;
    font-size: 15px;
    width: 210px;
    height: 36px;
    padding: 10px 0px;
}
/*style input section*/
.form__element input{
    margin-top: 10px;
    box-sizing: border-box;
    height: 30px;
    box-shadow: inset 0px 0px 1.2px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    border-style: none;
    font-family: Segoe UI;
}
.form__element input[type=text]{
    width: 250px;
    font-style: normal;
    font-weight: 350;
    font-size: 8px;
    padding: 0px 20px;
}
.form__element input[type=number]{
    width: 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding: 0px 5px 0px 15px;
}
.form__element input[type=radio]{
    width: 30px;
    height: 30px;
}
.element__number-wrapper {
  position: relative;
}
.element__number-wrapper:after,
.element__number-wrapper:before {
    text-align: center;
    position: absolute;
    right: 0px;
    width: 25px;
    height: 15px;
    font-size: 12px;
    pointer-events: none;
    background: #348D7C;

}
.element__number-wrapper:after {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: "\25B2";
    top: 10px;
    padding-top: 1px;
}
.element__number-wrapper:before {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    content: "\25BC";
    bottom: 0px;
    padding-bottom: 1px;
}
.element__radio-wrapper{
    display: flex;
    width: 116px;
}
.element__radio-wrapper label{
    font-weight: 900;
    font-size: 12px;
    margin: 18px 0px 0px 10px;
}
/*button*/
.create-reader__button-wrapper{
    display: flex;
    justify-content: center;
}
.create-reader__button-wrapper button{
    font-weight: 900;
    font-size: 17px;
    color: #ffffff;
    border-radius: 7px;
    padding: 8px 60px;
    border-style: none;
    margin: 20px;
    cursor: pointer;
}
.button--submit{
    background: linear-gradient(180deg, #25BFA2 0%, #348D7C 100%);
}
.button--ignore{
    background: linear-gradient(180deg, #BF2525 0%, #8D3434 100%);
}
/*note*/
.create-reader__note-wrapper p {
    font-size: 14px;
    font-style: italic;
    color: #BF2525;
    text-align: center;
    margin: 0px;
}